body {
    background-color: #f8f8ff;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #1b1a19;
    color: #f8f8ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 50px 0 50px;
}

header a {
    font-family: 'Staatliches', cursive;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 24px;
    text-decoration: none;
    color: #f8f8f8;
}

header img {
    height: 40px;
    padding-top: 10px;
    transition: ease 0.5s;
}

header img:hover {
    transition: ease 0.5s;
    transform: rotate(-30deg);
}

section.hero {
    padding: 120px 40px 120px 40px;
    background-color: #eeeeee;
    color: #f8f8ff;
    text-shadow: 0 0 10px rgba(235, 235, 235, 0.2);
    text-align: center;
    background-image: url("images/hero-leaves.jpg");
    background-size: cover;
    background-position: center;
}

h1 {
    font-family: 'Staatliches', cursive;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 7px;
    font-size: 70px;
}

section.grid {
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    align-items: center;
}

.grid-text {
    padding-right: 200px;
    padding-left: 100px;
}

section.grid img {
    width: 100%;
}

section.hero.portfolio {
    background-image: url("images/hero-portfolio.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: -20px;
}

section.portfolio h2 {
    font-size: 32px;    
}
section.portfolio a {
    font-size: 20px;    
}

.button {
    display: inline-block;
    color: #f8f8ff;
    border: 1px solid #f8f8ff;
    padding: 15px 30px 15px 30px;
    text-decoration: none;
    box-shadow: 1px 2px #f8f8ff;
    transition: ease 0.5s;
}

.button:hover {
    color: #55ad67;
    transition: ease 0.5s;
    box-shadow: 4px 5px #f8f8ff;
}

footer {
    height: 80px;
    background-color: #1b1a19;
    color: #f8f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

footer img {
    height: 30px;
    padding-left: 15px;
}

/* Portfolio page */

section.work {
  background-image: url("images/hero-pencils.jpg");
  background-size: cover;
  background-position: center;
  color: #333;
  height: 400px;
}

section.work h1 {
    font-size: 120px;
}

.work-intro p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 200px;
  font-size: 18px;
  font-weight: 700;
}

.work-button {
  display: inline-block;
  color: #333;
  border: 1px solid #333;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  box-shadow: 1px 2px #333;
  transition: ease 0.5s;
  margin-top: 20px;
}

.work-button:hover {
  transition: ease 0.5s;
  box-shadow: 4px 6px #333;
  background-color: #e3ab02;
}

@media (max-width:1650px) {
    .grid-text {
        padding-right: 30px;
        padding-left: 30px;
    }

    section.work  {
        height: 300px;
    }

    .work-intro  {
        padding-right: 100px;
        padding-left: 100px;
        padding-top: 20px;
    }
}

@media(max-width:850px) {
    section.grid {
        grid-template-columns: 1fr;
        grid-gap: 10px;
        align-items: center;
    }

    section.work  {
        height: 250px;
    }
}

@media(max-width:590px) {
    h1 {
        font-size: 30px;
    }

    header a {
        font-size: 16px;
    }

    header {
        padding : 0 20px 0 20px;
    }

    section.work h1 {
        font-size: 40px;
    }

    section.work  {
        height: 150px;
    }

    .work-intro {
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 20px;
        padding-bottom: 30px;
    }
}
